.dropdown {
    position: absolute;
    right: 0;
    top: 70px;
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: .5rem;
    text-align: center;
}
.navlist-item-user{
    color: white;
    text-decoration: none;
    border: none;
    font-size: 20px;
    margin: 0px 10px;
}
