.inst-cont {
    width: 70%;
    margin: 20px auto;
    min-height: 53vh;
}

.red-link {
    text-decoration: none;
    color: black;
}

.inst-cont * {
    margin: 7px;
}

.start-btn{
    width: 130px;
    background-color: #8ab9f7;
    padding-left: 5px;
   padding-right: 5px;
    
    margin: 0 auto;
    text-align: center;
    border-radius: 6px;
}
.start-btn:hover{
    width: 130px;
    background-color: #101111;
    padding-left: 5px;
   padding-right: 5px;
    
    margin: 0 auto;
    text-align: center;
    border-radius: 6px;
}
