.nav-items {
    margin: auto 0;
}

.navlist {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: -20px;
}

.navlist-item {
    color: white;
    text-decoration: none;
    border: none;
    font-size: 20px;
    margin: 0px 10px;
    background-color: black;
}

.navlist-item-link {
    text-decoration: none;
}

.navlist-li {
    height: 35px;
    margin-right: 20px;
}

.navlist-li:hover {
    border-bottom: white 1px solid;
    box-sizing: border-box;
}

.icons {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px 15px;
    font-size: 40px;
    display: none;
}

.btn {
    padding: 0;
    height: 28px;
    margin-top: 0;
    border: 0;
    border-style: none;
    outline: none;
    font-size: 15px;
}

.btn:hover {
    border: 0;
}

@media screen and (max-width: 768px) {
    .icons {
        display: block;
    }

    .navlist {
        flex-direction: column;
    }

    .mob {
        display: none;
    }

    .active {
        position: absolute;
        z-index: 99;
        width: 100%;
        top: 100px;
        left: 0;
        background-color: black;
        justify-content: center;
        text-align: center;
        padding: 0%;
        border-top: white 1px solid;
    }

    .btn {
        text-align: center;
        margin: 0 auto;
    }
}

.dropdown {
    position: absolute;
    top: 58px;
    width: 100px;
    transform: translateX(-45%);
    background-color: black;
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem;
    overflow: hidden;
}

.menu-items {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: 500ms background;
    padding: 0.5rem;
}

.menu-items:hover {
    background-color: #525357;
}