.out-res {
    min-height: 51vh;
    text-align: center;
    padding: 10px;
}
.in-res {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.ui{
    padding-left: 4px;
}
/* .hovery:hover{
    color: rgb(36, 172, 217);
    transition-duration: 0.3s;
} */
a{
    text-decoration: none;
    color: black;
}
a :hover{
    color: rgb(107, 196, 226);
    transition-duration: 0.3s;
    transform: scale(1.04);
    box-shadow:  rgba(0,0,0,0.15); 
}
.res-link {
    color: Black;
    text-decoration: none;
    font-size: large;
}
.abn {
    width: 150px;
    padding: 8px;
    margin: 50px auto;
    border-radius: 10px;
    /* border: 1px solid black; */
}

@media screen and (max-width: 500px) {
    .out-res {
        min-height: 53vh;
    }
}
